* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000A12;
  background-image: url('../pages/Home/assets/logo\ do\ IBELA.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center top;
}


